.customBtn {
  border: var(--border-def);
  background: #fff;
  color: #000;
  cursor: pointer;

  @media (hover: hover) {
    &:hover {
      box-shadow: 2px 2px 0 0px #000;
      transform: translate(-2px, -2px);
    }
  }
}

.circleBtn {
  --wh-z: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  width: var(--wh-z);
  height: var(--wh-z);
  border-radius: 50%;

  & img {
    width: 70%;
    height: 70%;
  }
}

.defaultBtn {
  width: 100%;
  font-size: var(--f);
  padding: 0.5em;
  border-radius: 1rem;
}

.dangerColor {
  background-color: #df3f3f;
}
.greenColor {
  background: #66e376;
}

.br05 {
  border-radius: .5rem;
}
