.inputCustom {
  padding: 0.5rem;
  background: #fff;
  border: 2px solid #000;
  border-radius: 0.5rem;
  font-size: 1rem;
  color: #000;
  font-family: 'Jost';
  width: 100%;

  &:active, &:focus {
    border-color: #6666e3;
  }
}

.textareaCustom {
  resize: none;
}

.inputCustom:focus-visible {
  outline: none;
}

.inputTitle {
  display: flex;
}
