.activeTask {
  width: 100%;
  height: 80vh;

  border-radius: var(--border-radius); 
}

.activeTaskTitle {
  font-size: var(--fz-xl);
}

.activeTaskDescription {
  font-size: var(--fz-m);
  margin-bottom: 2rem;
}

.activeTaskList {
  margin-top: 1rem;
  padding: 1.5rem;
  border: var(--border-def);
  border-radius: 1rem;

  & ul {
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }
}




