:root {
  --container-pc: clamp(320px, 94%, 1440px);
  --fz-xxl: clamp(2.5rem, calc(2.5rem + 1px), 3rem);
  --fz-xl: 2rem;
  --fz-l: 1.5rem;
  --fz-m: 1.125rem;
  --fz-s: 0.875rem;

  --pd-m: 1.2rem;

  --color-main: #fff;
  --color-secondary: #000;

  --box-shadow: 5px 5px 0px 4px var(--color-secondary);
  --border-radius: 1.5rem;
  --border-def: 2px solid var(--color-secondary);
}

:root {
  font-size: 1rem;
  font-family: 'Reem Kufi';
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 1);
  background-color: var(--color-main);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  height: 100dvh;
}

ul,
li {
  list-style: none;
}

.container {
  margin: 0 auto;
  width: var(--container-pc);
}

@media (max-width: 420px) {
  .fullWidth {
    width: 100%;
    height: 89vh;
    padding: 0;
    margin: 0;
  }
}

/* if system Light Theme next code for light theme */
/* @media (prefers-color-scheme: light) {
  body {
    background-color: var(--color-main);
  }
} */
