.timerContainer {
  border: var(--border-def);
  border-radius: 1rem;
  padding: 1rem;

  display: flex;
}

.timerFnBtns {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.timerContent {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  text-align: center;
}

.timerPeriod {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.timerCountdown {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 1rem;

  & h1 {
    font-size: var(--fz-xxl);
    line-height: var(--fz-xxl);
  }
}
